.iconfont {
  font-size: 16px;
}
.list {
  font-size: 28px;
  /*px*/
  padding-left: 10px;
}
.list .item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.list .item .iconfont {
  font-size: 16px;
}
.list .item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
