.iconfont {
  font-size: 16px;
}
.goods-info {
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 10px;
}
.goods-info .goods-title {
  line-height: 36px;
  padding-left: 10px;
  font-size: 30px;
  /*px*/
}
.goods-info .goods-list {
  font-size: 28px;
  /*px*/
  padding-left: 10px;
}
.goods-info .goods-list .goods-item {
  font-size: 28px;
  /*px*/
  height: 43px;
  line-height: 43px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.goods-info .goods-list .goods-item:not(:last-of-type) {
  position: relative;
}
.goods-info .goods-list .goods-item:not(:last-of-type):before {
  transform: scaleY(0.5);
  transform-origin: 50% 0;
  background-color: #f0f0f0;
  pointer-events: none;
  position: absolute;
  height: 1px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.goods-info .goods-list .goods-item:not(:last-child) {
  position: relative;
}
.goods-info .goods-list .goods-item:not(:last-child):before {
  transform: scaleY(0.5);
  transform-origin: 50% 0;
  background-color: #f0f0f0;
  pointer-events: none;
  position: absolute;
  height: 1px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}
.goods-info .goods-list .goods-item .left {
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.goods-info .goods-list .goods-item .right span {
  display: inline-block;
  vertical-align: middle;
}
.goods-info .goods-list .goods-item .right .number {
  margin-right: 10px;
}
.goods-info .goods-next {
  line-height: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 24px;
  /*px*/
}
.goods-info .goods-next .iconfont {
  font-size: 24px;
}
